.tabs {
  margin-top: 30px;
  text-align: center;
  .item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    font-family: $f-book;
    font-size: 0.875rem;
    color: #5f6060;
    margin-right: 100px;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
      .b-icon {
        &:after {
          display: none;
        }
      }
    }
    .b-icon {
      display: block;
      margin: 0 auto 10px;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-color: #d1cecf;
      border: 2px solid #d1cecf;
      border-radius: 50%;
      color: $c-white;
      position: relative;
      .icon {
        font-size: 1rem;
        line-height: 1rem;
        position: relative;
        margin-right: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.check {
          opacity: 0;
        }
        transition: all .3s ease-in-out;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background-color: #d1cecf;
        position: absolute;
        top: 14px;
        left: 50px;
        border-radius: 10px;
      }
    }
    &.finished, &.active {
      font-family: $f-medium;
      color: #25b6b4;
      .b-icon {
        background-color: #25b6b4;
        border-color: #25b6b4;
        .icon.check {
          opacity: 1;
        }
        &:after {
          background-color: #25b6b4;
        }
      }
    }
    &.active {
      .b-icon {
        color: #25b6b4;
        background-color: #fff;
        .icon.check {
          opacity: 0;
        }
        &:after {
          background-color: #d1cecf;
        }
      }
    }
  }
}

.b-checkout {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fff;
  padding: 1.875rem 2.1875rem;
  & + .b-checkout, & + div {
    margin-top: 15px;
  }
  &.order-summary {
    margin-bottom: 15px;
    ul {
      li {
        .item-price {
          text-align: right;
        }
      }
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 1.25rem;
    * {
      font-family: $f-medium;
      font-size: 1.125rem;
      margin: 0;
      padding: 0;
      color: #2f5a75;
    }
    h5 {
      font-family: $f-book;
      font-size: 0.8125rem;
      color: #888482;
      margin-top: 5px;
    }
  }
  &.order-summary {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem;
        border-bottom: 1px solid #eeeeee;
        font-family: $f-book;
        font-size: 0.8125rem;
        color: #888482;
        &:last-child {
          border: none;
        }
        .item-price {
          font-family: $f-medium;
          font-size: 1rem;
          color: #2f5a75;
        }
        &.total-price {
          .item-price {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-family: $f-book;
    font-size: 0.8125rem;
    color: #888482;
    .required {
      color: #fc0024;
      font-size: 1.125rem;
    }
  }
  input[type="email"], input[type="text"] {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 11px 10px;
    font-family: $f-book;
    font-size: 0.875rem;
    color: #888482;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #888482;
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #888482;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #888482;
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #888482;
      opacity: 1;
    }
  }
  form {
    div + div {
      margin-top: 1.3rem;
      &.grid {
        margin-top: 0.9rem;
        margin-bottom: 0;
      }
      &.checkbox-row {
        margin-top: 2.5rem;
      }
      &.column {
        margin-top: 0;
      }
    }
    .add-link {
      display: block;
      font-family: $f-light;
      font-size: 0.875rem;
      margin: 1.8rem 0;
      text-decoration: underline;
      color: #888482;
    }
    button {
      margin: 0;
      padding: 11px;
      width: 100%;
      border: none;
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked + .pseudo-checkbox {
      .icon {
        color: #2f5a75;
      }
    }
  }
  .pseudo-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    .icon {
      display: block;
      margin: 0 auto;
      color: #e0e1e2;
      transition: all .3s ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      line-height: 1rem;
      &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

      }
    }
    & + span {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 40px);
    }
  }
  .accordion.ui {
    .title  {
      background-color: #e6f7f7;
      position: relative;
      font-family: $f-book;
      font-size: 0.875rem;
      color: #888482;
      padding: 11px 30px;
      .icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        width: 28px;
        height: 28px;
        background-color: #25b6b4;
        color: $c-white;
        border-radius: 50%;
        display: flex;
        justify-content: centr;
        align-items: center;
        text-align: center;
        transition: all .3s ease-in-out;
        &:before {
          display: block;
          width: 100%;
          font-size: 1.2rem;
          transform: translate(0, 0);
          transition: all .3s ease-in-out;
        }
      }
      &.active {
        .icon {
          transform: translate(0, -50%) rotate(180deg);
          &:before {
            transform: translate(0, 5%);
          }
        }
      }
    }
    .content {
      margin-top: 1rem;
      padding: 0 1.5rem 1.8rem !important;
    }
    .credit {
      display: inline-block;
      width: 49px;
      height: 33px;
      margin: 0 0 0 5px;
      padding: 0;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      input {
        display: none;
      }
      &--mastercard {
        background-image: url('../img/mastercard-2.png');
      }
      &--visa {
        background-image: url('../img/visa-2.png');
      }
      &--americanexpress {
        background-image: url('../img/americanexpress-2.png');
      }
      &--paypal {
        background-image: url('../img/paypal-2.png');
      }
    }
  }
  &--items {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    .item-inf {
      padding: 1rem 2.1875rem;
      border-bottom: 1px solid #dbdbdb;
      &:last-child {
        border: none;
      }
      .shoping-cart-item__about {
        padding-bottom: 0.25rem !important;
      }
    }
  }
}

.tab-payment {
  .btn {
    &--checkout {
      display: block;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.shipping-options {
  &__item {
    padding: 1.25rem 2.1875rem;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
    & + .shipping-options__item {
      border-top: none;
      margin-top: 0;
    }
    input[type="radio"] {
      display: none;
      &:checked {
        & + label {
          &:after {
            background-color: #25b6b4;
          }
        }
      }
    }
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0 0 0 50px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background-color: #f5f5f5;
      }
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e3e3e3;
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all .3s ease-in-out;
      }
      div {
        display: inline-block;
        margin: 0;
        padding: 0;
        & + div {
          margin: 0;
          padding: 0;
        }
      }
      h3 {
        font-family: $f-medium;
        font-size: 1.125rem;
        margin: 0;
        padding: 0;
        color: #2f5a75;
      }
      p {
        font-family: $f-book;
        color: #888482;
        margin: 0;
        padding: 0;
        &.desc {
          font-size: 11px;
          text-transform: uppercase;
        }
        &.estimated {
          font-size: 14px;
          b {
            font-family: $f-medium;
            color: #5f6060;
          }
        }
      }
      span {
        font-family: $f-medium;
        font-size: 1.25rem;
        color: #2f5a75;
      }
    }
  }
}

.navigation-row {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  .btn {
    width: 40%;
    max-width: 160px;
  }
}

.checkout-link {
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: $f-light;
  text-decoration: underline;
  color: #888482;
  margin: 15px 0;
}