.shoping-cart-summary-row-item {
  padding: 15px 0;
  &:first-child {
    margin-top: 1rem;
  }
  & + .shoping-cart-summary-row-item {
    border-top: none;
  }
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  h4 {
    font-family: $f-book;
    font-size: 0.8125rem;
    color: #888482;
    margin: 0 0 1rem;
    padding: 0;
  }
  color: #2f5a75;
  font-family: $f-medium;
  font-size: 1rem;
  .discount {
    font-family: $f-medium;
    font-size: 1rem;
    color: $c-red;
    .percents {
      font-family: $f-book;
      font-size: 0.6875rem;
      color: #888482;
    }
  }
  .total {
    font-size: 1.875rem;
    padding-bottom: 10px;
  }
  .payments {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        display: block;
        width: 34px;
        height: 23px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        border: 1px solid #e0e0e0;
        &.card {
          &--visa {
            background-image: url('../img/card-visa.jpg');
          }
          &--mastercard {
            background-image: url('../img/card-mastercard.jpg');
          }
          &--discover {
            background-image: url('../img/card-discover.jpg');
          }
          &--paypal {
            background-image: url('../img/card-paypal.jpg');
          }
          &--american-express {
            background-image: url('../img/card-american-express.jpg');
          }
        }
      }
    }
  }
}