// Colors
$c-grey: #f5f5f5;
$c-grey-2: #d3d3d3;
$c-grey-3: #939393;
$c-white: #ffffff;
$c-darkblue: #2f5a75;
$c-lightblue: #37a3c3;
$c-lightblue-2: #25b6b4;
$c-dark: #5f6060;
$c-red: #ee6758;

// Fonts
$f-light: 'GothamRounded-Light', Tahoma, sans-serif;
$f-medium: 'GothamRounded-Medium', Tahoma, sans-serif;
$f-book: 'GothamRounded-Book', Tahoma, sans-serif;