<script src="js/vendors/jquery.min.js"></script>
<script src="libs/semantic/dist/semantic.min.js"></script>
<script src="js/vendors/aos.js"></script>
<script src="js/script.js"></script>
</body>
</html>