<div class="cart-content">
  <div class="container">
    <div class="ui grid centered aligned">
      <div class="sixteen wide mobile twelve wide tablet nine wide computer column">
        <div class="cart-content__title t-center">
          <h5>
            <span><i class="lock icon"></i></span>
            Secure checkout
          </h5>
        </div>
        <div class="tabs">
          <a href="#" class="item finished">
            <div class="b-icon">
              <i class="icon check"></i>
            </div>
            Shopping Cart
          </a>
          <a href="#" data-tab="details-tab" class="item">
            <div class="b-icon">
              <i class="icon check"></i>
              <i class="pencil alternate icon"></i>
            </div>
            Details
          </a>
          <a href="#" data-tab="shipping-tab" class="item">
            <div class="b-icon">
              <i class="icon check"></i>
              <i class="icon truck"></i>
            </div>
            Shipping
          </a>
          <a href="#" data-tab="payment-tab" class="item active">
            <div class="b-icon">
              <i class="icon check"></i>
              <i class="icon credit card"></i>
            </div>
            Payment
          </a>
        </div>
      </div>
    </div>
    <div class="ui grid centered aligned">
      <div class="sixteen wide mobile twelve wide tablet eight wide computer column">
        {{> order-summary }}
        {{> tab-details }}
        {{> tab-shipping }}
        {{> tab-payment }}
      </div>
    </div>
  </div>
</div>