<header class="header">
  <div class="container">
    <div class="ui two column grid">
      <div class="four wide column">
        <a href="#" class="logo">
          <img src="img/logo.png" alt="logo">
        </a>
      </div>
      <div class="twelve wide column right aligned">
        <a href="#" class="btn btn--cart">
          <i class="shopping cart icon"></i>
          <span class="btn--cart__currency">$</span>
          <span class="btn--cart__total">131.00</span>,
          <span class="btn--cart__count">2 items</span>
        </a>
      </div>
    </div>
  </div>
</header>