<div class="b-checkout order-summary">
  <div class="b-checkout__title">
    <h3>Order Summary</h3>
  </div>
  <ul>
    <li>
      <span class="item-title">Cart items</span>
      <span class="item-price">
        <span class="currency">$</span><span class="value">64.00</span>
      </span>
    </li>
    <li>
      <span class="item-title">Discount</span>
      <span class="item-price">
        -<span class="currency">$</span><span class="value">13.00</span>
      </span>
    </li>
    <li>
      <span class="item-title">Estimated shipping</span>
      <span class="item-price">
        <span class="currency">$</span><span class="value">20.00</span>
      </span>
    </li>
    <li class="total-price">
      <span class="item-title">Total</span>
      <span class="item-price">
        <span class="currency">$</span><span class="value">51.00</span>
      </span>
    </li>
  </ul>
</div>