<div class="content__title mt-1">
  <h4>Shipping cost and time estimate</h4>
</div>
<div class="shiping-cost-row-item">
  <div class="ui grid">
    <div class="sixteen wide mobile seven wide tablet seven wide computer column">
      <form action="#">
        <div class="ui grid">
          <div class="sixteen wide mobile eight wide tablet eight wide computer column">
            <label for="county">Your Country</label>
            <select id="country">
              <option value="">Serbia</option>
              <option value="">Counry 2</option>
              <option value="">Counry 3</option>
              <option value="">Counry 4</option>
              <option value="">Counry 5</option>
            </select>
          </div>
          <div class="sixteen wide mobile eight wide tablet eight wide computer column">
            <label for="method">Shipping Method </label>
            <select id="method">
              <option value="">Standard</option>
              <option value="">Method 1</option>
              <option value="">Method 3</option>
              <option value="">Method 4</option>
              <option value="">Method 5</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="tablet only computer only column one wide"></div>
    <div class="sixteen wide mobile four wide tablet four wide computer column">
      <h4>Estimated Time</h4>
      <div class="price-generator__item">
        24th August - 1st September
      </div>
    </div>
    <div class="tablet only computer only column one wide"></div>
    <div class="sixteen wide mobile three wide tablet three wide computer column">
      <h4>Estimated Cost</h4>
      <div class="price-generator__item">
        <span class="currency">$</span><span class="value">20.00</span>
      </div>
    </div>
  </div>
</div>
