<div class="shoping-cart-summary-row-item">
  <div class="ui grid">
    <div class="sixteen wide mobile four wide tablet four wide computer column right floated">
      <h4>Discount</h4>
      <div class="discount">
        -<span class="currency">$</span><span class="value">13.00</span> <span class="percents">(10%)</span>
      </div>
    </div>
  </div>
</div>
<div class="shoping-cart-summary-row-item">
  <div class="ui grid">
    <div class="sixteen wide mobile four wide tablet four wide computer column right floated">
      <h4>Estimated shipping</h4>
      <div class="shiping-price">
        <span class="currency">$</span><span class="value">20.00</span>
      </div>
    </div>
  </div>
</div>
<div class="shoping-cart-summary-row-item">
  <div class="ui grid">
    <div class="tablet only computer only column eight wide"></div>
    <div class="tablet only computer only four wide column">
      <h4>Payment Options</h4>
      <ul class="payments">
        <li><a href="#" class="card card--visa"></a></li>
        <li><a href="#" class="card card--mastercard"></a></li>
        <li><a href="#" class="card card--american-express"></a></li>
        <li><a href="#" class="card card--discover"></a></li>
        <li><a href="#" class="card card--paypal"></a></li>
      </ul>
    </div>
    <div class="sixteen wide mobile four wide tablet four wide computer column">
      <h4>Total Price</h4>
      <div class="total">
        <span class="currency">$</span><span class="value">118.50</span>
      </div>
    </div>
    <div class="sixteen wide mobile only column">
      <ul class="payments">
        <li><a href="#" class="card card--visa"></a></li>
        <li><a href="#" class="card card--mastercard"></a></li>
        <li><a href="#" class="card card--american-express"></a></li>
        <li><a href="#" class="card card--discover"></a></li>
        <li><a href="#" class="card card--paypal"></a></li>
      </ul>
    </div>
  </div>
</div>