<div class="shoping-cart-summary-row-item">
  <div class="ui grid">
    <div class="right floated column four wide">
      <h4>Discount</h4>
      <div class="discount">
        -<span class="currency">$</span><span class="value">13.00</span> <span class="percents">(10%)</span>
      </div>
    </div>
  </div>
</div>
<div class="shoping-cart-summary-row-item">
  <div class="ui grid">
    <div class="right floated column four wide">
      <h4>Estimated shipping</h4>
      <div>
        <span class="currency">$</span><span class="value">20.00</span>
      </div>
    </div>
  </div>
</div>
<div class="shoping-cart-summary-row-item">
  <div class="ui grid">
    <div class="right floated column four wide">
      <h4>Total Price</h4>
      <div class="total">
        <span class="currency">$</span><span class="value">118.50</span>
      </div>
    </div>
  </div>
</div>