<div class="b-checkout tab-shipping ui tab" data-tab="shipping-tab">
  <div class="b-checkout__title">
    <h3>Shipping Address</h3>
  </div>
  <form action="#">
    <div class="ui grid">
      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <label for="tab-2-firstname">First name<span class="required">*</span></label>
        <input type="text" id="tab-2-firstname">
      </div>
      <div class="sixteen wide mobile eight wide tablet eight wide computer column">
        <label for="tab-2-lastname">Last name<span class="required">*</span></label>
        <input type="text" id="tab-2-lastname">
      </div>
    </div>
    <a href="#" class="add-link">Add company name</a>
    <div>
      <label for="tab-2-streetaddress">Street address<span class="required">*</span></label>
      <input type="text" id="tab-2-streetaddress">
    </div>
    <div>
      <label for="tab-2-city">City<span class="required">*</span></label>
      <input type="text" id="tab-2-city">
    </div>
    <div>
      <label for="tab-2-postcode">Postcode<span class="required">*</span></label>
      <input type="text" id="tab-2-postcode">
    </div>
    <div>
      <label for="tab-2-country">Country<span class="required">*</span></label>
      <select type="text" id="tab-2-country">
        <option value="" selected disabled>Choose</option>
        <option value="">Country 1</option>
        <option value="">Country 2</option>
        <option value="">Country 3</option>
        <option value="">Country 4</option>
        <option value="">Country 5</option>
      </select>
    </div>
    <div>
      <label>
        <input type="checkbox">
        <span class="pseudo-checkbox">
          <i class="check icon"></i>
        </span>
        <span>Use different address for billing?</span>
      </label>
    </div>
  </form>
</div>